.hero-btn {
  text-decoration: none;
  font-family: "font-bold";
  color: var(--clr-dark-blue);
  background-color: var(--clr-light-yellow);
  padding: 10px 20px;
  border: 3px solid var(--clr-dark-blue);
  border-radius: 10px;
  font-size: 16px;
}

.hero-btn:hover {
  background-color: var(--clr-dark-yellow);
}

@media screen and (max-width: 480px) {
  .hero-btn {
    padding: 8px 18px;
    border: 2px solid var(--clr-dark-blue);
    font-size: 12px;
  }
}
