.cta-button {
  text-decoration: none;
  font-family: "font-bold";
  color: var(--clr-dark-grey);
  background-color: #ffffff;
  width: 285px;
  height: 51px;
  border: 2px solid var(--clr-dark-grey);
  font-size: 16px;
  border-radius: 10px;
  position: relative;
}
.cta-button span {
  position: absolute;
  top: 15px;
  left: 25px;
}
.cta-button img {
  right: -3px;
  top: -2px;
  width: 51px;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cta-button:hover {
  background-color: #f5f5f5;
}
@media screen and (max-width: 480px) {
  .cta-button {
    font-size: 12px;
    width: 220px;
    height: 41px;
  }
  .cta-button span {
    top: 12px;
    left: 22px;
  }
  .cta-button img {
    width: 41px;
  }
}
