/* ===== BASE COLOR ===== */
:root {
  /* dark blue */
  --clr-dark-blue: #1a3967;
  /* grey shades */
  --clr-dark-grey: #718095;
  --clr-light-grey: #f3f3f3;
  /* yellow shades */
  --clr-dark-yellow: #f0dc02;
  --clr-light-yellow: #fee902;
}

/* ===== BASE ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "font-sbold";
}

/* ===== FONTS ===== */
@font-face {
  font-family: "font-black";
  src: local("Montserrat"), url(./fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
  font-family: "font-xbold";
  src: local("Montserrat"), url(./fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "font-bold";
  src: local("Montserrat"), url(./fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "font-sbold";
  src: local("Montserrat"), url(./fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "font-medium";
  src: local("Montserrat"), url(./fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "font-regular";
  src: local("Montserrat"), url(./fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "font-light";
  src: local("Montserrat"), url(./fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: "font-thin";
  src: local("Montserrat"), url(./fonts/Montserrat/Montserrat-Thin.ttf);
}
